 matplotlib==3.4.3
 pandas==1.3.4
 jupyter
 numba
 cfgrib
 dask
 seaborn
 tqdm
 xarray==0.20.1
 properscoring
 netcdf4
 h5netcdf
 cartopy
 climlab
 iris
 keras-preprocessing
 black
 pytest
 numpy==1.21.3
 timezonefinder==6.2.0
 gitpython
 wandb
 metpy
 gitpython
 jupytext
