 matplotlib==3.5.2
 pandas==1.4.2
 jupyter
 numba
 cfgrib
 dask==2022.12.0
 seaborn
 tqdm
 xarray==2022.9.0
 properscoring
 netcdf4
 h5netcdf
 cartopy
 climlab
 iris
 keras-preprocessing
 black
 pytest
 numpy==1.22.3
 timezonefinder==6.1.0
 gitpython
 wandb==0.15.3
 setuptools==62.1.0
 metpy==1.4.0
 gitpython
 jupytext
